* {
    margin: 0;
    padding: 0;
}


body {
    background-color:green;
    background-image: url(/images/background.jpg);
    background-size: cover;
}

h1 {
    position:absolute;
    right: 9999px;
}

h2, h3, p {
    color:white;
    font-family:Verdana, sans-serif;
}

#aboutus h2, h3, p {
    display:flex;
    margin: 0 auto;
    width: 400px;
    padding-top: 30px;
}

header, footer {
    flex-direction: column;
    justify-items: center;
    align-items: center;
    color:white;
    background-color: black;
    height: 180px;
}

.logostyle {
    height: 100px;
}

.logo {
    display:flex;
    justify-content: center;
    margin: 20px 0 0 0;
    padding: 20px 0;
    background-color:#000E23;
}

.menu {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    justify-content: center;
    background-color:black;
    padding: 10px 0;
}

.menu i {
    margin: 0 70px;
}

.menu .fa-magnifying-glass {
    position:relative;
    left:120px;
    font-size: 20px;
}

#hamburger-menu, #search {
    display:none;
}

#hamburger-menu:checked ~ .links {
    display:flex;
    justify-content:center;
}

.fa-bars {
    display:flex;
    justify-content:center;
    position:relative;
    bottom:30px;
    right:200px;
}

.links {
    display:none;
}

.links ul {
    list-style-type: none;
    background-color: #000E23;
    width: 230px;
}

.links li {
    border: solid 2px #0B3470;
}

.links a {
    color: white;
    display: block;
    padding: 10px;
    width:200px;
    text-decoration: none;
    font-family: Verdana;
    font-weight: normal;
    font-size: 16px;
    word-spacing: 10px;
}

%.fa-magnifying-glass {
    position:relative;
    left: 125px;
    font-size: 20px;
    color: white;
}

.fa-user {
    font-size: 20px;
}

.search-bar {
    display:none;
    justify-content:center;
    position:relative;
    bottom: 16px;
    right: 16px;
}

.search-bar-style {
    color:rgb(255 255 255 /0%);
    background-color: white;
    width:0px;
    border-radius: 60px;
    padding: 6px 20px;
    animation-name: bar;
    animation-duration: 300ms;
    animation-fill-mode:forwards;
}

@keyframes bar {
    0% {
        background-color:rgb(255 255 255 /0%);
        width:0px;
    }
    100% {
        background-color:white;
        width:200px;
        left: 0;
    }
}



i {
    font-size: 16px;
}

.movies img {
    height: 300px;
    width: 200px;
    padding: 0 10px 20px 10px;
}

.movies {
    display:grid;
    grid-template-columns: auto auto;
    justify-content:center;
}

.signups {
    display:flex;
    flex-direction: column;
    align-items:center;
    z-index: -1;
}

#signin {
    text-align:center;
    width: 80px;
    font-family: Verdana;
    font-weight: bold;
    font-size: 16px;
    margin: 10px 0 10px 0;
    padding: 15px 20px;
    color:white;
    background-color:#0B3470;
    z-index: -1;
}

#signup {
    text-align:center;
    background-color:red;
    color:white;
    padding: 15px 20px;
    width: 120px;
    font-family: Verdana;
    font-weight: bold;
    font-size: 24px;
    z-index: -1;
}

#start {
    text-align:center;
    width: 150px;
    margin-top: 10px;
    font-family: Verdana;
    font-weight: bold;
    font-size: 12px;
    color:white;
    z-index: -1;
}

.front-movies {
    display: flex;
    flex-direction: row;
    justify-content:center;
    width: 100vw;
}

.front-movies > img {
    max-height: 300px;
    max-width: 200px;
    padding: 0 10px;
}

.chevrons {
    display:flex;
    flex-direction: row-reverse;
    justify-content:space-around;
    position:relative;
    bottom: 160px;

}

.leftmovie, .rightmovie {
    opacity: 0.5;
    z-index: -1;
}

.fa-circle-chevron-right, .fa-circle-chevron-left {
    color:white;
    font-size: 24px;
}

%.fa-circle-chevron-right {
    position: relative;
    right: 290px;
    bottom: 140px;
}

%.fa-circle-chevron-left {
    position: relative;
    right: 600px;
    bottom: 140px;
}

%.socialmedia {
    display:flex;
    justify-content:center;
    letter-spacing: 10px;
    transform: scale(2, 2);
}

.active {
    border: solid 3px white;
    color: rgb(255 255 255 /100%);
}

#genre-list {
    color:white;
    background-color:#0B3470;
    display:none;
    padding: 30px;
    list-style-type:none;
}

#select:checked ~ #genre-list {
    display:inline-block;
}

.genres {
    display:none;
    flex-direction:column;
    align-items:center;
    color:white;
    font-family: Verdana;
    font-size: 18px;
    justify-content:center;
    margin: 20px 200px 20px 0;
}

.genres li {
    width: 100px;
    padding: 10px 20px;
    margin: 5px 0;
    list-style-type:none;
    background-color:#0B3470;
    border-radius: 50px;
}

.genre-selector {
    display:flex;
    align-self:center;
    justify-self:center;
    color:white;
    background-color:#0B3470;
    padding: 30px 100px;
    font-family: Verdana;
    font-size: 18px;
    width: 100px;
}

#category:checked ~ .genres {
    display:flex;
}

.fa-angle-double-down {
    color:white;
}